<div class="row">
  <div class="col-6">
    <input type="text" class="form-control" placeholder="Type email"
    [(ngModel)]="email"
    [disabled]="isDisabled">
    <input type="text" class="form-control" placeholder="Type password"
    [(ngModel)]="password"
    [disabled]="isDisabled">
    <button class="btn btn-primary" (click)="registration()"
    [disabled]="isDisabled">Registration</button>
  </div>
</div>
<div class="row" *ngIf="showError">
  <div class="alert alert-danger">{{error}}</div>
</div>
<div class="row" *ngIf="showSuccess">
  <div class="alert alert-success">Registration OK!</div>
</div>
